/* Global rules */

/* Custom rules */

.circle {
  background-color: #447af4;
  border-radius: 50%;
  height: 37px;
  width: 37px;
  overflow: hidden;
  position: relative;
}


/* GOVCO */

.header-govco {
  background-color: #3366cc;
}
.header-govco img {
  height: 20px;
  margin: 5px 0;
}

/* Header */

.header-body .row {
  margin-top: 20px;
}
.site-title {
  width: 270px;
  margin: 0 auto;
}
.site-title h1 {
  font-family: 'built titling italic';
  font-weight: bold;
  color: #273445;
  font-size: 3.2rem;
  line-height: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 10px;
}
.site-title h1 span {
  color: #4572ef;
  font-size: 1rem;
  display: block;
  line-height: 1rem;
  margin-left: 7px;
  letter-spacing: 5px;
}
.site-title:before,
.site-title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
}
.site-title h1:before {
  border: 5px solid #f78836;
  width: 70%;
}
.site-title h1:after {
  border: 5px solid #f78836;
  width: 10%;
  right: 25px;
}
.social-icons ul li {
  text-decoration: none;
  display: inline-block;
}
.social-icons a {
  color: #ffffff;
}
.social-icons a:before {
  position: absolute;
  top: 8px;
  left: 10px;
}
.social-icons a.fa-facebook:before {
  left: 13px;
}
.social-icons span {
  line-height: 3em;
  display: block;
  position: absolute;
}

/* Header navigation */

.header-nav {
  background-color: #447af4;
  padding: 10px 0;
}
.header-nav .nav .nav-item a {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'built titling italic';
  font-size: 1.5rem;
  padding: 0 1rem;
}
.header-nav .nav .nav-item a:hover {
  color: #ffc055;
}
.header-nav .nav .nav-item {
  position: relative;
  padding: 0 10px !important;
}
.header-nav .nav .nav-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 2px solid #ffffff;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
  z-index: -1;
}
.header-nav .nav .nav-item:last-child:after {
  border-right: none;
}

/* Main slider */

.slider {
  position: relative;
}
.slider .views-slideshow-controls-top {
  width: 100%;
}
.slider .views_slideshow_controls_text > span {
  margin: 20px 35px 0;
}
.slider .views_slideshow_controls_text_next {
  right: 0;
}
.slider .views_slideshow_controls_text_next,
.slider .views_slideshow_controls_text_previous {
  position: absolute;
  top: 185px;
  z-index: 10;
}
.slider .views_slideshow_controls_text_pause {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.slider .widget_pager_bottom {
  background-color: #447af4;
}
.slider .views-slideshow-pager-bullets li {
  background-color: #ffffff;
}
.slider .views-slideshow-pager-bullets li.active {
  background-color: #273445;
}
.slider .views-slideshow-pager-bullets li:hover {
  background-color: #ffc055;
}
